.bg-light-gray {
  background-color: #d9d9d9;
}

.text-blue {
  color: #050d62;
}

.text-red {
  color: #e32020;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.navbar {
  height: 93px;
  min-height: 93px;
  margin: 0 !important;
  padding: 0 !important;
}


/* Ensure inner content is vertically centered */
.navbar .container-fluid {
  height: 100%;
  display: flex;
  align-items: center;
}

/* Optional: adjust logo height to fit nicely */
.navbar-brand img {
  height: 70px;
  width: auto;
}
.navbar-nav .nav-item {
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 40px;
}

/* Footer styling */
footer {
  margin-top: auto;        /* Pushes footer to bottom */
  width: 100%;
  height: 140px;
}

/* Footer container layout */
.footer-container {
  height: 140px;
  width: 100%;
  display: flex;
  justify-content: space-between; 
  align-items: center;            
  padding: 0 40px;                
  background-color: #d9d9d9;
}

/* LEFT column (stacked) */
.footer-left {
  display: flex;
  flex-direction: column;
  text-align: left;
}

/* RIGHT column (stacked & right aligned) */
.footer-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end; 
  text-align: right;
}

.footer-right img {
  max-height: 55px;
  margin-bottom: 5px;
}

.text-center {
  text-align: center;
}

.form-row {
    display: flex;
    justify-content: center;
    gap: 20px;          
    flex-wrap: nowrap; 
}

.form-column {
    display: flex;
    flex-direction: column;
    width: 180px;       
}

.label-top {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.label-top label {
    margin-bottom: 4px;
}

.bg-image{
  background-image: url(../assets/homeimage.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 500px;
}

.bg-image-content{
  z-index: 2;
  position: relative;
}

.bg-color-gray{
  background-color: #D9D9D9;
  height: 500px;
  opacity: 60%;
}

.btnRed{
  background-color:#E32020;
  width: 140px;
  height: 60px;
  
}

.text-color-white{
  color: white;
}

.Btn-Radius{
 border-radius: 25%;
}

.BTn-margin{
  margin-left: 20px;
}

.navbar-nav .nav-link {
  transition: color 0.2s ease-in-out;
}

.navbar-nav .nav-link:hover {
  color: #E32020 !important;
}

.input-gray{
  background-color: #d9d9d9;
  border: 1px solid #aaa;
}

.text-for-inperson{
  margin-left: 700px;
  height: 100px;
}

.text-for-virtual{
  margin-right: 700px;
  height: 100px;
}

.bg-color-gray-opacity {
  background-color: rgba(128, 128, 128, 0.2); 
    padding: 20px;
  border-radius: 10px;
  max-width: 800px;       
  margin: 0 auto;         
}

.contact-container {
  display: flex;                    
  justify-content: space-between;   
  align-items: flex-start;          
  gap: 20px;                        
  margin-top: 20px;                
}

.contact-block {
  width: 45%;                       
  padding: 10px;
  box-sizing: border-box;
}



