/* Make navbar height fixed at 93px */
.navbar {
  height: 93px;
  min-height: 93px;
}
/* Ensure inner content is vertically centered */
.navbar .container-fluid {
  height: 100%;
  display: flex;
  align-items: center;
}

/* Optional: adjust logo height to fit nicely */
.navbar-brand img {
  height: 70px;
  width: auto;
}
.navbar-nav .nav-item {
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 50px;
}

.text-center {
  text-align: center;
}

.color{
  color: darkblue;
}