.bg-light-gray {
  background-color: #d9d9d9;
}

.text-blue {
  color: #050d62;
}

.text-red {
  color: #e32020;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.navbar {
  height: 93px;
  min-height: 93px;
  margin: 0 !important;
  padding: 0 !important;
}


/* Ensure inner content is vertically centered */
.navbar .container-fluid {
  height: 100%;
  display: flex;
  align-items: center;
}

/* Optional: adjust logo height to fit nicely */
.navbar-brand img {
  height: 70px;
  width: auto;
}
.navbar-nav .nav-item {
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 40px;
}

/* Footer styling */
footer {
  margin-top: auto;        /* Pushes footer to bottom */
  width: 100%;
  height: 140px;
}

/* Footer container layout */
.footer-container {
  height: 140px;
  width: 100%;
  display: flex;
  justify-content: space-between; 
  align-items: center;            
  padding: 0 40px;                
  background-color: #d9d9d9;
}

/* LEFT column (stacked) */
.footer-left {
  display: flex;
  flex-direction: column;
  text-align: left;
}

/* RIGHT column (stacked & right aligned) */
.footer-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end; 
  text-align: right;
}

.footer-right img {
  max-height: 55px;
  margin-bottom: 5px;
}

.text-center {
  text-align: center;
}

.form-row {
    display: flex;
    justify-content: center;
    gap: 20px;          
    flex-wrap: nowrap; 
}

.form-column {
    display: flex;
    flex-direction: column;
    width: 180px;       
}

.label-top {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.label-top label {
    margin-bottom: 4px;
}

.bg-image{
  background-image: url(../assets/homeimage.webp);
  margin-top: 40px;
  background-repeat: no-repeat;
  background-size: contain;
  background-size: 100% 100%;
  background-position: center;
  height: 600px;
}

.bg-color-gray{
  background-color: rgb(217, 217, 217, 0.5);
  height: 600px;
}

.btn-red{
  background-color:#E32020;
  background-size: cover;
  color: #050D62;
  font-size: 22px;
  width: 219px;
  height: 93px;
}

.text-pad{
  padding-top: 40px;
}

.text-margin{
  margin-top: 40px;
}

.text-solid{
  margin-left: 70px;
}

.text-color-white{
  color: white;
}

.Btn-Radius{
  border-radius: 25%;
}

.BTn-margin{
  margin-left: 20px;
}

.navbar-nav .nav-link {
  transition: color 0.2s ease-in-out;
}

.navbar-nav .nav-link:hover {
  color: #E32020 !important;
}

.input-gray{
  background-color: #d9d9d9;
  border: 1px solid #aaa;
}