/* Navbar & Footer Full Width */
.navbar,
footer {
  width: 100%;
}

/* Navbar Styling */
.navbar {
  height: 93px;
  min-height: 93px;
  margin: 0 !important;
  padding: 0 !important;
}

.navbar-nav .nav-link.active {
  font-weight: bold;
  color: #e32020 !important;
}

.navbar .container-fluid {
  height: 100%;
  display: flex;
  align-items: center;
}

.navbar-brand img {
  height: 70px;
  width: auto;
}

.navbar-nav .nav-item {
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 40px;
}

/* Body grid layout */
.main-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 30px;
  row-gap: 30px;
  justify-content: center;
  padding: 20px;
  padding-bottom: 30px;
  padding-left: 0px;
  padding-right: 0px;
}

/* Buying Section */
.buying-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.buying-section img {
  width: 875px;
  height: 250px;
  object-fit: cover;
  align-self: flex-end;
  margin-top: 40px;
}

/* Selling Section */
.selling-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.selling-section img {
  width: 715px;
  height: 250px;
  object-fit: cover;
  margin-bottom: 30px;
}

/* Responsive adjustments for screens 768px and below */
@media (max-width: 768px) {
  .main-grid {
    grid-template-columns: 1fr;
    width: 100%;

  }

  .buying-section {
    flex-direction: column; 
    align-items: stretch; 
  }
  .buying-section img {
    order: 2; 
    width: 100%;
    height: auto;
    margin-top: 20px;
  }
  .buying-section .section-text {
    order: 1; 
    width: 100%; /
  }

  .selling-section {
    flex-direction: column;
    align-items: stretch;
  }
  .selling-section img {
    order: 2; 
    width: 100%;
    height: auto;
    margin-bottom: 20px;
  }
  .selling-section .section-text {
    order: 1;
    width: 100%; 
  }
    .buying-section img,
  .selling-section img {
    width: 100%;
    height: auto;
    margin: 20px 0;
  }
    .navbar-nav .nav-item {
    margin-left: 0;
    margin-right: 0;
    margin-top: 10px;
  }
}

/* Footer layout */
.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 50px;
}

.footer-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
}

.footer-right img {
  max-height: 55px;
  margin-bottom: 5px;
}

/* Text colors */
.text-blue {
  color: #050d62;
}

.text-red {
  color: #e32020;
}

.bg-light-gray {
  background-color: #d9d9d9;
}
